*{margin: 0; padding: 0; box-sizing: 0;}

a{ 
  text-decoration: none; 
  margin: 16px; 
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}
a:hover{ color: hsl(5, 85%, 63%);}

/*
Primary
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

Neutral
Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

Body Copy
- Font size (paragraph): 15px

Font
- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800

*/

body, html{
  margin: 30px;
  font-family: 'Inter', sans-serif;
  color: hsl(236, 13%, 42%);
}

.menu{
  display: none;
}

nav{
  display: block;
}

#logo{
  width: 5% ;
  height: 5%;
}

main{
  width: 85%;
}

#imgMain{
  width: 48rem;
  height: 18rem;
}

header{
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;
  margin: 32px 0px 60px 0px;
  width: 100%;
}

main{
  margin-right: 30px;
}

h1{
  color:hsl(240, 100%, 5%) ;
}

#btn{
  background-color:hsl(5, 85%, 63%) ;
  width: 170px;
  height: 45px;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1mm;
  margin-top: 20px;
  cursor: pointer;
}

#textBright{
  position: relative;
  width: 280px;
  font-size: 46px;
  font-weight:800;
  color: hsl(240, 100%, 5%);
  margin-right: 30px;
}

#textMain{ 
  display: flex; 
  margin-top: 30px;
}

#textMain> div{
  width: 390px;
  margin: ;
  letter-spacing: 0.2mm;
  line-height: 24px;
}

aside{
  background-color: hsl(240, 100%, 5%);
  color: white;
  width: 310px;
  padding: 20px 20px 0px 20px ;
}

aside > h1{
  font-size: 46px;
  color: hsl(35, 77%, 62%);
  margin-bottom: 25px;
}

aside > h3{
  margin: 26px 0 14px 0;
  letter-spacing: 0.3mm;
}

aside > p{
  margin-bottom: 30px;
  line-height: 24px;
}

footer{
 display: flex;
}

.imgFooter{
width: 40%;
height: 65%;
margin-right: 20px;
}

.divFooter{
  display: flex;
  margin-right: 10px;
}

.textFooter> h1{
  font-size: 42px;
  margin-bottom: 10px;
  color: hsl(236, 13%, 42%);
}

.textFooter> h3{
  color: hsl(240, 100%, 5%);
  margin-bottom: 10px;
}

.textFooter> p{
  line-height: 24px;
}

.atribution{
  display: block;
}

@media screen and (max-width: 1160px){

  body{
    margin: 10px;
  }

  main{
    width: 70%;
  }

  #imgMain{
    width: 99%;
  }

  aside{
    width: 400px;
  }

}

@media screen and (max-width: 880px){

   footer{
    margin-bottom: 30px;
   }

   .textFooter> h1{
    font-size: 38px;
  }

  .imgFooter{
    width: 45%;
    height: 70%;
    margin-right: 10px;
    margin-top: 60px;
    }

    footer{
      scale: 0.9;
    }

}

@media screen and (max-width: 790px){

   body{
    margin: 0px;
   }

   .container{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    
   main{
    width: 100%;
   }

   #imgMain{
    width: 100%;

    height: 35%;
   }

   #textMain{
    display: flex;
    flex-direction: column;
    width: 100%;
   }

   #textBright{
    font-size: 42px;
    width: 80%;
    margin: none;
   }

   #textMain> div{
    width: 80%;
    margin: none;
   }

   aside{
    margin-top: 20px;
    width: 100%;
   }

   footer{
    display: flex;
    flex-direction: column;
   }

   .imgFooter{
    width: 30%;
    height: 70%;
    margin-right: 20px;
    margin-top: 20px;
    }
 
}

@media screen and (max-width: 550px){

   #logo{
    width: 20%;
   }

   .menu{
    display: block;
    
   }

    nav{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-left: 20px;
    margin: 8px;
    transition: 0.4s;
  }

   nav{
    display:none;
   }

  footer{
    scale: 0.8;
  }

}
